body {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.08%,
    rgba(227, 255, 248, 0.38) 100%
  );
}
:root {
  --light-blue: #89c5cc;
  --light-grey: #7d7987;
  --light-green: #69b99d;
  --black-blue: #1f1534;
}
.page {
  width: 1008px;
  margin: 60px auto 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

ul {
  display: flex;
  gap: 48px;

  font-family: "Mulish", sans-serif;
  font-size: 18px;
  list-style: none;

  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: var(--black-blue);
    opacity: 0.5;
  }
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    width: 489px;
  }
  p {
    color: var(--light-grey);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 28px;
    margin: 40px 0;
  }

  h1 {
    font-family: "Mulish", sans-serif;
    font-weight: normal;
    font-size: 49px;
    line-height: 56px;
    color: var(--black-blue);
    margin: 0;
  }

  span {
    color: var(--light-blue);
    font-family: "Mulish", sans-serif;
  }
  button {
    font-family: "DM Sans", sans-serif;
    color: #ffffff;
    text-shadow: 0px 2px 3px black;
    background-color: var(--light-green);
    border: 1px solid var(--light-green);
    border-radius: 4px;
    padding: 14px 32px 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  button:hover {
    background-color: #369a77;
    border: 1px solid #369a77;
    box-shadow: 0px 1px 20px 1px #369a77;
  }
}
footer {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-top: 55px;
  display: flex;
  justify-content: center;
  /*ou text-align: center; */
  color: var(--black-blue);

  a {
    text-decoration: none;
    font-weight: bold;
    color: var(--black-blue);
  }
  a:hover {
    color: #a78be3;
    text-shadow: 1px 2px 9px #a78be3;
  }
}
#balls-decoration {
  position: fixed;
  right: 0;
  top: 88%;
}
